:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: initial; /* Fixes the Vite centering */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f8fafc;
}

#root {
  width: 100%; /* Ensures the app takes full width */
  margin: 0 auto;
}